<div class="header">
    <div class="total-patients-container">
        <h1 class="first">Total Patients</h1>
        <h1 class="second">{{noOfPatients}}</h1>
    </div>

    <div class="search-container">
        <input type="text" id="search" (input)="getPatientsBySearch()" placeholder="Search here">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
        </svg>
    </div>  
</div>

<div class="list-container">
        <div class="patients-list" *ngFor="let patient of sortedArray">
            <i (click)="deletePatient(patient)" class="material-icons">delete</i>
            <div class="inner">
                <h2>{{patient.firstname}}</h2>
                <h3> {{patient.lastname}}  </h3>
                <p>Joined on : {{patient.joinedDate | date}}</p>
                <p>Age : {{patient.age}}</p>
                <p>Gender : {{patient.gender}}</p>
            </div>
            <button (click)="showPatient(patient)">Show Patient</button>
        </div>
</div>
