.container{
    background-color: white;
    padding: 3%;
    border-radius:10px;
    text-align: center;
    font-family: 'Kanit', sans-serif;   
}
.container h2{
    color: green;
    font-weight: bold;
    font-size: 30px;
    
}
.container p{
    color: grey;
}
.patient-container p{
    color: darkblue;
    font-weight: 600;
   font-family: 'Work Sans', sans-serif;
}
.patient-container{
    flex-direction:row;
    text-align: left;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7%;
    padding-bottom: 5%;
    padding-left: 10%;
    padding-right: 10%;
    box-shadow: 2px 2px 8px 2px grey;
    border-radius: 30px;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 1px solid darkblue;
    color: white;
    background: white;
}
button{
    background: linear-gradient(150deg,rgb(3, 3, 63),blue,darkblue);;
    color: white;
    width: 20%;
    border: none;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 6px;
}